* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.box .inner_box_left:after {
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url(assets/paths.svg);
  display: block;
  margin-left: calc(50vw - 170px);
  margin-top: calc(50vh - 150px);
  position: absolute;
  z-index: 1;
}
.box .inner_box_right{
  overflow: hidden;
}

.box.box1 .inner_box_left:after {
  background-color: #3F72AF;
}
.box.box1 .inner_box_left{
  background-color: #3F72AF;
}
.box.box1 .inner_box_right{
  background-color: #2B2E4A;
}

.box.box2 .inner_box_left:after {
  background-color: #2A0944;
}
.box.box2 .inner_box_left{
  background-color: #2A0944;
}
.box.box2 .inner_box_right{
  background-color: #3B185F;
}

.box.box3 .inner_box_left:after {
  background-color: #7D1935;
}
.box.box3 .inner_box_left{
  background-color: #7D1935;
}
.box.box3 .inner_box_right{
  background-color: #420516;
}





.box.box4 .inner_box_left:after {
  background-color: #3E00FF;
}
.box.box4 .inner_box_left{
  background-color: #3E00FF;
}
.box.box4 .inner_box_right{
  background: url(assets/interior.jpg) no-repeat;
  background-size: cover;
}

.box.box5 .inner_box_left:after {
  background-color: #11324D;
}
.box.box5 .inner_box_left{
  background-color: #11324D;
}
.box.box5 .inner_box_right{
  background-color: #6B7AA1;
}

.box.box6 .inner_box_left:after {
  background-color: #402218;
}
.box.box6 .inner_box_left{
  background-color: #402218;
}
.box.box6 .inner_box_right{
  background-color: #865439;
}

.box.box7 .inner_box_left:after {
  background-color: #055049;
}
.box.box7 .inner_box_left{
  background-color: #055049;
}
.box.box7 .inner_box_right{
  background-color: #6BBA62;
}


.text_box_1 {
  color: #fff;
  position: absolute;
  margin-top: calc(50vh - 50px);
  right: calc(50vw - 30px);
  z-index: 2;
  text-align: right;
}
.text_box_1 h1,
.text_box_1 p {
  margin: 0;
  padding: 0;
}
.text_box_2 h1,
.text_box_2 p {
  margin: 0;
  padding: 0;
}
.text_box_2 {
  color: #fff;
  position: absolute;
  bottom: 40px;
  z-index: 2;
  left: 20px;
}
.text_box_2 .links a{
  color : #fff;
  text-decoration: none;
  display: inline-block;
}
.text_box_2 .links a:last-child{
  margin-left: calc(50vw - 220px);
}


/* @media (max-width: 576px) {
  .box{
    display: none
  }
} */